@media (max-width: 800px) { 
   #Logo{
    margin-left:-5rem;
   }
    .about-para{
      padding: 10px;
    }
    .hide{
        display: none;
    }
    .hide-menubar{
        display: block;
    }
    ul li a span{
      position: relative;
      left: 20px;
    }
    .customer h1{
      font-size: 30px;
    }
    .project2{
      display: none;
    }
    .hide-menubar{
        padding-top: 1rem;
    }
     .button{
        width: 45px;
        position: none;
        left: 0;
        bottom:0;
     }
    
 }